:root{
  --azul:#002D72;
  --rojo:#E40046;
  --gris:#f2f2f2;
  --blanco:#ffffff;
}

*{
  margin:0;
  padding:0;  
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:var(--gris);
}

/* NAVBAR */
.navbar{
  background:#fff;
  padding:16px 40px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  height:50px;
}

.nav-center{
  display:flex;
  gap:30px;
}

.nav-center a{
  text-decoration:none;
  color:var(--azul);
  font-weight:600;
}

/* MAIN GRID (HÍBRIDO PROFESIONAL) */
.main{
  display:grid;
  grid-template-columns:42% 58%;
  min-height:calc(100vh - 90px);
}

/* IZQUIERDA */
.left{
  background:var(--azul);
  padding:40px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  overflow:hidden;
}

.banner{
  background:var(--azul);
  color: var(--blanco);
  padding:30px;
  font-size:60px;
  font-weight:900;
  line-height:0.9;
  width:fit-content;
  margin-bottom:40px;
}

.osito{
  max-width:100%;
  max-height:420px;
  object-fit:contain;
  margin:0 auto;
}

/* DERECHA (FLEX FINO) */
.right{
  background:var(--gris);
  padding:96px 80px;
  display:flex;
  justify-content:flex-end;
  align-items:flex-start;
}

/* FORMULARIO */
form{
  width:420px;
}

textarea,
input{
  width:100%;
  padding:18px 20px;
  margin-bottom:22px;
  border:2px solid var(--rojo);
  border-radius:14px;
  font-size:16px;
}

textarea{
  resize:none;
  height:96px;
}

button{
  width:100%;
  background:linear-gradient(to right,#002D72,#034bb6);
  color:#fff;
  border:none;
  padding:22px;
  border-radius:40px;
  font-size:20px;
  font-weight:700;
  cursor:pointer;
}

/* RESPONSIVE TABLET */
@media(max-width:1000px){
  .main{
    grid-template-columns:1fr;
  }

  .right{
    justify-content:center;
    padding:64px 40px;
  }

  .banner{
    font-size:42px;
  }
}

/* RESPONSIVE MOBILE */
@media(max-width:768px){
  .right{
    padding:48px 24px;
  }

  form{
    width:100%;
    max-width:420px;
  }
}

